@import url("../../.cache/wal/colors-waybar.css");

* {
  font-size: 14px;
  font-family: "Iosevka";
}

window#waybar {
  all: unset;
  background: alpha(@background, 0.7);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 1px;
}

tooltip {
  background: @background;
  color: @color7;
}

#clock,
#workspaces,
#network,
#battery,
#pulseaudio {
  padding: 0px 6px;
  color: @color7;
  font-weight: 700;
  transition: all 0.1s ease;
}

#workspaces button {
  color: @color8;
}

#workspaces button:hover {
  color: @color8;
  border: none;
  background: transparent;
}

#workspaces button.active {
  color: @color7;
  font-weight: 700;
}

#workspaces button.urgent {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging {
  color: #26a65b;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#tray {
  padding: 0px 5px;
  transition: all 0.1s ease;
}
#tray menu * {
  padding: 0px 5px;
  transition: all 0.1s ease;
}

#tray menu separator {
  padding: 0px 5px;
  transition: all 0.1s ease;
}
