* {
  font-size: 14px;
  font-family: "JetBrains Mono";
}

window#waybar {
  all: unset;
  background: #1a1b26;
  border-radius: 0px;
}

.modules-left,
.modules-right {
  padding: 1px;
}

#clock,
#workspaces,
#battery,
#pulseaudio {
  padding: 0px 6px;
  color: #e5e5e5;
  font-weight: 700;
  transition: all 0.1s ease;
}

#workspaces button {
  color: #e5e5e5;
}

#workspaces button:hover {
  color: #fff;
  border: none;
  background: transparent;
}

#workspaces button.active {
  color: #fff;
  font-weight: 700;
}

#workspaces button.urgent {
  color: #f53c3c;
}

#battery.charging {
  color: #26a65b;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
}

#tray {
  padding: 0px 5px;
  transition: all 0.1s ease;
}
#tray menu * {
  padding: 0px 5px;
  transition: all 0.1s ease;
}

#tray menu separator {
  padding: 0px 5px;
  transition: all 0.1s ease;
}
